.turntable{
  margin: 0px;
  ul {
    padding: 0px;
    margin: 0px;
    li {
      list-style-type: none;
      display:  none;
      img {
        width: 100%;
      }
    }
    li.active {
      display: block;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body, h1, h2, h3, h4, h5, h6, p, a, td, li, .btn {
  font-family: 'Lato', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: #4A4A4A;
}

body {
  background-color: #FFFFFB;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 35px;
  line-height: 45px;
  margin-top: 60px;
}

h2:first-child {
  margin-top: 0px;
}

h3 {
  margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

header {
  /*min-height: 100vh;*/
}

pre {
  border-radius: 2px;
  border-color: #bbb !important;
}

pre.prettyprint {
  padding: 10px !important;
}

a:hover{
  color: #545454;
}

section.pad-section:first-of-type {
  padding-top: 0px;
}

.navbar {
  background-color: #FF6A5C;
}

.nav-pills>li>a {
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
  background-color: #eee;
}

.nav-pills>li>a:first-child {
  margin-right: 5px;
}

.header-overlay {
  text-align: center;
  .turntable {
    img {   
      max-height: 100%;
    }
  }
}

.float-mid {
  bottom: 10%;
  position: absolute;
}

.text-color {
  color: #FF7667;
}

img {
  max-width: 100%;
}

footer {
  background-color: #111;
  padding: 40px 20px;
  color: white;
}

hr.hr-short {
  max-width: 200px;
}

.box-wrapper-dark {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px 20px;
  border-radius: 2px;
}

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

.position-9 {
  position: relative;
  z-index: 9;
}

.position-99 {
  position: relative;
  z-index: 99;
}

.position-999 {
  position: relative;
  z-index: 999;
}

.featured-image {
  margin-bottom: -200px;
}

.turntable-container {
  max-width: 700px;
  margin: 0 auto;
}

.beta-form .form-control {
  font-size: 20px;
  height: 50px;
  min-width: 250px;
}

.beta-form .btn-primary {
  font-size: 20px;
  padding: 9px 22px;
  margin-left: 10px;
}

.background {
  background-size: cover;
  background-position: center;
}

.background-top {
  background-size: cover;
  background-position: top;
}

.background-blue {
  /*background-color: #83C6E2;*/
  background: #83c6e2; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #83c6e2 0%, #11a7dd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #83c6e2 0%,#11a7dd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #83c6e2 0%,#11a7dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c6e2', endColorstr='#11a7dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-gray {
  /*background-color: #83C6E2;*/
  background: #ddd; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ddd 0%, #aaa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #ddd 0%,#aaa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #ddd 0%,#aaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c6e2', endColorstr='#11a7dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-white {
  background-color: white;
}

.vertical-child {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.pad {
  padding: 20px;
}

.pad-section {
  padding: 100px 20px;
}

.container {
  max-width: 1000px;
}

.container-lg {
  max-width: 800px;
}

.container-md {
  max-width: 600px;
}

.container-sm {
  max-width: 400px;
}

.text-white {
  color: white;
}

a.text-white:hover {
  color: white;
}

.navbar-btn {
  padding: 12px 28px;
  margin-left: 20px;
}

.navbar {
  -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.navbar-white {
  background-color: white;
  border-color: white;
  border-radius: 0px;
  border: 0px;
  -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-white .navbar-nav > li > a,
.navbar-white .navbar-brand {
  color: #666;
  padding-top: 21px;
  padding-bottom: 21px;
  -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

.navbar-nav > li > a,
.navbar-brand {
  color: white;
  padding-top: 21px;
  padding-bottom: 21px;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  &:focus{
    background-color: #FF6A5C; 
    color: white;
  }
}

.navbar-nav > li > a:hover{
  opacity: .5;
  background-color: transparent;
}

.text-primary {
  color: #FF5E52;
}

a.text-primary:hover {
  color: #FF5E52;
}

.btn {
  border-width: 2px;
}

.btn-primary,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #FF5E52;
  border-color: #FF5E52;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  color: #fff;
  background-color: #CC4A40;
  border-color: #CC4A40;
  box-shadow: none;
}

.btn-white-outline {
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  color: white;
}

.btn.btn-white-outline:hover,
.btn.btn-white-outline:active,
.btn.btn-white-outline:focus {
  background-color: white;
  border-color: white;
  color: #FF5E52;
  box-shadow: none;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: #FF5E52;
  border-width: 2px;
  color: #FF5E52;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .featured-image {
    margin-bottom: -120px;
  }

  h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .pad-section {
    padding: 50px 20px;
  }

  .btn-xs-block {
    width: 100%;
  }

  .beta-form .btn-primary {
    margin-left: 0px;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}