.turntable{
  display: inline-block;
  margin: 0px;
  ul {

    padding: 0px;
    margin: 0px;

    li {

      list-style-type: none;
      display:  none;

      img {
        
        width: 100%;

      }
    }

    li.active {
      display: block;
    }
  }
}